# Node
node_modules/

# Builds
/dist/
/.vite/

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Coverage
coverage/

# Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# Others
*.swp
*.swo
.eslintcache
